html, body {
    height: 100%;
}

section {
    margin: 5%;
}

/* The hero image */
.hero-image {
    /* The image used */
    background: url("../img/roofmin.jpg") center center no-repeat;
    background-size: cover;
    /* Set a specific height */
    height: 100%;

}

.hero-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
}

.hero-text > h1 {
    text-transform: uppercase;
    font-family: serif;
}

.hero-text > p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .hero-text > h1 {
        font-size: 6rem; 
        }
    .hero-text > p {
        font-size: 3.5rem;
        }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
