/**
 * Base Styles
 */
html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
nav, ul {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    text-align: left;
    font-kerning: normal;
    line-height: 1.45;
}

/**
 * Typography
 */
:root {
    font-size: calc(16px + 0.6vw);
}

body {
    font-family: 'Raleway', sans-serif;
    
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}

/* Responsive images */
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}


/**
 * Container / body style
 */
 header, section {
    max-width: 38em;
    margin: 0 auto;
    padding: 2em 1em;
}

/**
 * Nav Styling
 */
nav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/**
 * Header / Hero
 */
header {
/*     min-height: 70vh; */
    display: grid;
    grid-template-areas: 
        "heroTxt"
        "heroImg";
    grid-gap: 1em;
}

header h1 {
    margin-top: 0;
}

@media (min-width: 768px){
    /* design responsive grid */
    header {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "heroTxt heroImg"
        "heroTxt heroImg";
    }
}

.hero-text {
    grid-area: heroTxt;
}

.hero-img {
    grid-area: heroImg;
}

/**
 * Hero animation / theme
 */
.hero-img {
    /*
    green-orange-and-yellow-ink.jpg
    pink-and-black-ink-drop.jpg
    purple-ink-cloud-with-black-drops.jpg
    red-ink-on-yellow-and-blue.jpg
    teal-with-red-drops.jpg
    yellow-and-purple-ink-with-green.jpg
    */
    background: url("../assets/purple-ink-cloud-with-black-drops.jpg") no-repeat center center;
    background-size: cover;
    min-height: 50vh;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in;
}

.imgFadeIn {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

/**
 * Form
 */
form {
    display: grid;
    grid-template-columns: 5em 1fr;
    grid-gap: .5em;
}

label {
    grid-column: 1 / 2;
}

input,
button {
    grid-column: 2 / 3;
}

@media (max-width: 720px){
    /* design responsive grid */
    form {
        grid-template-columns: 1fr;
    }
    label {
        grid-column: 1 / 3;
    }
    
    input,
    button {
        grid-column: 1 / 3;
    }
}

/**
 * Theme
 */
/* 
 #ffd500 orange / yellow
*/
body {
    background: #ffd500;  /* fallback for old browsers */
}

nav {
    background-color: #222222;
}

li a {
    color: #fff;
}