html, body {
    height: 100%;
}

.jumbotron {
    background: url("../img/roofmin.jpg") no-repeat center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100%;
}

.jumbotron > div > h1,
.jumbotron > div > p {
    color: whitesmoke;
}

.jumbotron > div > h1,
.jumbotron > div > p {
    font-weight: 800;
}
