html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-weight: 400;
    text-align: left;
    font-kerning: normal;
    line-height: 1.45;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0078d7;
}

/**
 * Typography
 */
 :root {
    font-size: calc(16px + 0.6vw);
}

h1 {
    font-size: 5rem;
    font-family: 'Monoton';
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

header {
    background: #0078d7;
    color: #fff;
    padding: 3rem 6rem;
    border-radius: 4px;
}