<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
</head>

<body class="container">
    <header class="header">
        <div class="profile">
            <img src="img/s-guy.jpeg" alt="">
            <h1>John</h1>
            <p class="title">CEO & Founder</p>
            <p>ACME LLC</p>
        </div>
    </header>
    <main>
        <section>
            <div class="grid-col-2 g-card div-b-marging">
                <div class="card">
                    <img src="img/s-laptop.jpeg" alt="">
                </div>
                <div class="card-bg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div class="grid-col-2 g-card">
                <div class="card-bg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
                <div class="card">
                    <img src="img/m-sandy-book.jpeg" alt="">
                </div>
            </div>

            <div class="double-card div-b-marging">
                <div class="g-card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
                <div class="g-card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div class="div-b-maring">

            <div class="container-full g-card">
                <div class="container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>
        </section>

        <form class="g-card" action="">
            <p>Let's get in Touch</p>
            <div class="form-input">
                <label for="first_name">Name</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            <div class="form-input">
                <label for="surname">Surame</label>
                <input type="text" id="surname" name="surname" required>
            </div>
            <div class="form-input">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-input">
                <label for="message">Message</label>
                <textarea name="message" id="message"></textarea>
            </div>
            <div class="form-button">
                <button>Submit</button>
            </div>
        </form>
    </main>
</body>

</html>