<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slanted</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="header-wrapper">
            <h1>Front-end Web Developer</h1>
            <p>Responsive websites from scratch</p>
            <div class="links">
                <p>Navigation Menu</p>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portofolio</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <b class="red-line"></b>
            <p class="more-examples"><a href="#">Get in Touch</a></p>
        </div>
    </header>
    <main>
        <h2>Secondary section</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur facere distinctio suscipit id aliquid est assumenda numquam exercitationem aut iste! Ipsa nihil labore aspernatur possimus tenetur dolores cumque, qui error.</p>
    </main>
</body>
</html>