<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slanted</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="header-wrapper">
            <h1>Front-end Web Developer</h1>
            <p>Responsive websites from scratch</p>
            <div class="links">
                <p>Navigation Menu</p>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Portofolio</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>
            <b class="red-line"></b>
            <p class="more-examples">
                <a href="#form">Get in Touch</a>
            </p>
        </div>
    </header>
    <main>
        <section class="about">
            <p>
                We create functional, responsive websites from scratch using
                <span class="bold-txt">modern</span>
                best practices for freelancers and small businesses. At the same time we enjoy exploring and learning something new with
                every project.
            </p>
        </section>

        <section class="features">

            <article>
                <h3>Website Design</h3>
                <p>Each design is done from a blank canvas around the content to guide layout.</p>
            </article>

            <article>
                <h3>Front-end Development</h3>
                <p>We prefer coding from scratch instead of a framework. This ensures there is no junk code.</p>
            </article>

            <article>
                <h3>Responsive Development</h3>
                <p>Using an effective grid system with progressive enhancement can ensure a great experience on new and older
                    web browsers alike, well into the future.</p>
            </article>

            <article>
                <h3>Deployment</h3>
                <p>Most freelancers and small businesses don't need complicated infrastructure. We keep it simple by deploying
                    a static website. Not only is it
                    <span class="bold-txt">safer</span>, it also
                    <span class="bold-txt">reduces costs</span>.</p>
            </article>
        </section>
    </main>

    <section class="form-container" id="form">
        <div class="form">
            <div class="form-header">
                <h3 class="form-title">Contact us</h3>
            </div>
            <form name="Web Design" action="thank-you" netlify netlify-honeypot="bot-field">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" required>

                <label for="email">Email</label>
                <input id="email" type="email" name="email" required>

                <label for="message">How can we help?</label>
                <textarea id="message" name="message" rows="5" required></textarea>

                <button class="form-cta" type="submit">Contact</button>
                <p style="display:none;">
                    <label>You shouldn't fill this out:
                        <input name="bot-field">
                    </label>
                </p>
            </form>
        </div>
    </section>
    <footer>

    </footer>
</body>

</html>