<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
</head>

<body>
    <nav class="nav">
        <ul>
            <li>
                <a href="">Get Animated Medical</a>
            </li>
        </ul>
        <ul class="nav-links">
            <li>
                <a href="">Our Team</a>
            </li>
            <li>
                <a href="">Portofolio</a>
            </li>
            <li>
                <a href="">Clients</a>
            </li>
            <li>
                <a href="">Our Services</a>
            </li>
            <li>
                <a href="">Contact Us</a>
            </li>
            <li>
                <a href="">Blog</a>
            </li>
        </ul>
    </nav>
    <header class="parallax hero-img">
        <div class="overlay">
            <div class="container inherit-height">
                <div class="flex-col flex-center inherit-height">
                    <h1 class="align-left">Get Animated! Medical</h1>
                    <form class="align-left" action="">
                        <label for="email"></label>
                        <input type="email" name="email" id="email" placeholder="email">
                        <button type="submit" class="button-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="background-secondary">
                <div class="container">
                    <div class="flex-col flex-center">
                        <h2 class="text-center">Welcome to Get Animated! Medical</h2>
                        <button class="button-callout">Get in Touch</button>
                        <p class="text-center">At Get Animated! Medical, animating the art of science and technology is at the heart of everything
                            we do. We specialize in the creation of beautiful 2D/3D medical animation, illustration and interactive
                            design for the Medical Device, Pharmaceutical and Biotechnology Industry, as well as Educational
                            Institutes, Medical Marketing Companies and Healthcare Agencies Globally.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="background-primary">
                <div class="container">

                    <div class="flex-row text-center">
                        <div class="feature-list">
                            <i class="fa fa-video-camera fa-3x" aria-hidden="true"></i>
                            <h4>Elegant 3D Animations</h4>
                            <p style="font-size: 0.55rem">Mode of Action, Educational, Product CGI</p>
                            <p class="card-font">Approaching every new project with an open mind and fresh pair of eyes, we provide meticulously
                                crafted and scientifically accurate 3D Mode of Action</p>
                        </div>
                        <div class="feature-list">
                            <i class="fa fa-television fa-3x" aria-hidden="true"></i>
                            <h4>Premium 2D Animations</h4>
                            <p style="font-size: 0.55rem">Explainer Videos, Digital Marketing Content, Sales Material</p>
                            <p class="card-font">Perfect for creating highly engaging Digital Marketing Content, Explainer Videos and Sales Material,
                                our highly skilled and award winning team go above and beyond to produce high end corporate
                                animations and motion graphics that resonate and engage with your target audience.</p>
                        </div>
                        <div class="feature-list">
                            <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                            <h4>Elegant & Stunning Illustrations</h4>
                            <p style="font-size: 0.55rem">Medical Illustration, Instructions for Use, Campaign Imagery</p>
                            <p class="card-font">From print ads and brochures through to posters and banners, we explore the endless possibilities
                                that come hand in hand with custom-made 2D/3D medical illustrations in order to enhance your
                                healthcare communication campaign
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="background-secondary">
                <div class="container">
                    <div class="grid-2">
                        <div class="parallax product-image">
                        </div>
                        <div class="flex-col flex-center">
                            <h2 class="">IGNITE YOUR PRODUCTS & KEY MESSAGES</h2>
                            <p>Light the match and let Get Animated! Medical power your sales and marketing campaigns with stunning
                                2D/3D medical animations, illustrations and interactive designs</p>
                            <p class="">At Get Animated! Medical, animating the art of science and technology is at the heart of everything
                                we do. We believe passionately that the beauty of science and technology is best articulated
                                by telling clear and concise stories with breathtaking 2D and 3D images. We do this by turning
                                your know-how into a technically-accurate, visually-dramatic medical animation experience.
                                Creating effective visuals and productive content that is clear, concise and highly engaging
                                has become second nature to us. Having gained extensive experience in providing high impact
                                visuals for the pharmaceutical, biotechnology, and healthcare industries, as well as medical
                                device manufacturers, our award winning team is perfectly equipped with the knowledge and
                                skills to inspire action in a wide range of medical and healthcare fields. After all, in
                                the often-complex world of medicine, understanding complicated medical procedures can be
                                daunting, challenging and intimidating. Using 2D/3D animation videos, we will open your eyes
                                to a catalogue of interactive designs, accurate illustrations and memorable communication
                                models that will captivate, inspire and engage to the highest possible standard. For your
                                next project, let Get Animated! Medical unveil the magic in your product’s science.</p>
                            <p class="cursive">C Kennedy</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="background-primary">
                <div class="container">
                    <div class="flex-row text-center">
                        <div class="feature-list">
                            <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                            <h4>Step One.
                                <br> Get
                                <br> a Script.</h4>
                            <p style="font-size: 0.55rem">We define the brief, the timeline, the budget and allocate resources.</p>
                            <p class="card-font">We believe in a hands on approach. We start with an initial consultation preferably via phone,
                                Skype or email to better understand your requirements. With all the information in hand,
                                we will create a script for you approval.</p>
                        </div>
                        <div class="feature-list">
                            <i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i>
                            <h4>Step Two.
                                <br> Get
                                <br> a Design.</h4>
                            <p style="font-size: 0.55rem">We create concept artwork and a detailed storyboard.</p>
                            <p class="card-font">We’ll proceed to design the objects of the animation and submit to you for approval. We’ll also
                                develop concept art and a full storyboard with all the key frame images and send to you for
                                feedback and adjustments.</p>
                        </div>
                        <div class="feature-list">
                            <i class="fa fa-film fa-3x" aria-hidden="true"></i>
                            <h4>Step Three.
                                <br>Get
                                <br> Animating.</h4>
                            <p style="font-size: 0.55rem">We get animating your approved storyboard into a beautiful animation.</p>
                            <p class="card-font">We present sections of the fully animated video for comments during the entire production process.
                                We find that having checkpoints along the way ensures a more efficient overall experience
                                for both us and you.</p>
                        </div>
                        <div class="feature-list">
                            <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i>
                            <h4>Step Four.
                                <br> Get
                                <br> Animated!</h4>
                            <p style="font-size: 0.55rem">We produce the final animation in your desired format</p>
                            <p class="card-font">Once you are happy with your animation, we will send you the final file, normally in .mov or
                                .mp4 format. Now, you’re ready to share your marketing animation with the world!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="">
            <div class="background-primary">
                <div class="container background-secondary">
                    <div class="text-center">
                        <h3>Animating the Art of Science & Technology</h3>
                        <p>We believe passionately that the beauty of science and technology is best articulated by telling
                            clear and concise stories with breathtaking 2D and 3D images.</p>
                    </div>
                    <div class="grid-3">
                        <div class="card">
                            <img src="assets/animate.jpg" alt="">
                            <h3>Animate</h3>
                            <p>animate / verb / bring to life.</p>
                        </div>
                        <div class="card">
                            <img src="assets/art.jpg" alt="">
                            <h3>Art</h3>
                            <p>art / noun / the expression or application of human creative skill and imagination, typically
                                in a visual form such as painting or sculpture, producing works to be appreciated primarily
                                for their beauty or emotional power.</p>
                        </div>
                        <div class="card">
                            <img src="assets/science.jpg" alt="">
                            <h3>Science</h3>
                            <p>science / noun /the intellectual and practical activity encompassing the systematic study of
                                the structure and behaviour of the physical and natural world through observation and experiment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="form background-quaternary">
            <div class="container">
                <h3 class="text-center">Get in Touch</h3>
                <div class="form-col">
                    <div class="form-help">
                        <h3>Need Help?</h3>
                        <p class="footer-text">Don't hesitate to ask us something. Email us directly at john@doe.com or call us at ++44(0)208 123
                            4148
                        </p>
                        <h3>FAQ</h3>
                        <p class="footer-text">Dating back to the 1600's, thermometers were filled with Brandy instead of mercury.
                        </p>
                    </div>
                    <form action="" class="form">
                        <label for="name">Name</label>
                        <input type="text">
                        <label for="email">E&dash;mail</label>
                        <input type="email" name="email" id="email">
                        <label for="message">Message</label>
                        <textarea name="message" id="message"></textarea>
                        <button type="submit" class="button button-form">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="background-secondary">
            <div class="container">
                <nav class="footer-nav">
                    <ul>
                        <li>Get Animated Medical</li>
                    </ul>
                    <ul class="footer-items">
                        <li>Our Team</li>
                        <li>Portofolio</li>
                        <li>Clients</li>
                        <li>Our Services</li>
                        <li>Contact Us</li>
                        <li>Blog</li>
                    </ul>
                    <ul class="footer-items">
                        <li>
                            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    <script>
        // Change backgroundAttachment to SCROLL on IOS
        function iOS() {
            var iDevices = [
                // If the issue happen in other devices,
                // add to list.
                'iPhone Simulator',
                'iPhone'
            ];

            var parallax = document.querySelector(".parallax");
            if (!!navigator.platform) {
                while (iDevices.length) {
                    if (navigator.platform == iDevices.pop()) {
                        parallax.style.backgroundAttachment = "scroll";

                    }
                    console.log("I've only noticed the issue on iOS. Works on Android");
                }
            }
        }

        iOS();
    </script>
</body>

</html>