<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lora:700|Ubuntu" rel="stylesheet">
</head>

<body>
    <div class="hero-image clip">
        <div class="container">
            <nav class="nav">
                <ul class="nav-left">
                    <a href="/" class="nav-item">Legere</a>
                </ul>
                <label for="menu-toggle" class="nav-toggle">&equiv;</label>
                <input type="checkbox" id="menu-toggle" class="is-hidden">
                <ul class="nav-right nav-menu">
                    <li class="nav-item"><a href="#">About</a></li>
                    <li class="nav-item"><a href="#">Showcase</a></li>
                    <li class="nav-item"><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="container center half-height">
            <h1>Landing page &ndash; a class of it's own.</h1>
        </div>
    </div>
    
    <main class="container">
        <section class="container center">
            <div class="slider center sienna">
                <div>
                    <blockquote class="slides">
                        <p>Carpe diem. Seize the day, boys. Make your lives extraordinary</p>
                        <footer>&mdash; Dead Poets Society</footer>
                    </blockquote>
                    <blockquote class="slides is-hidden">
                        <p>Open the pod bay doors, please, HAL.</p>
                        <footer>&mdash; 2001: A Space Odyssey</footer>
                    </blockquote>
                    <blockquote class="slides is-hidden">
                        <p>Round up the usual suspects.</p>
                        <footer>&mdash; Casablanca</footer>
                    </blockquote>
                </div>
                <button class="hide-controls left-b">&#10094;</button>
                <button class="hide-controls right-b">&#10095;</button>
            </div>
            <button class="hide-controls pause">Pause</button>
        </section>

        <div class="powder-blue container-full">
            <div class="container">
                <section class="sub-grid-col-2">
                    <h2>Why a Landing Page is a must</h2>
                    <p>Effective landing pages make it <span class="sienna">clear</span> what a visitor is going
                        to get from a page and how to get it.</p>
                </section>
            </div>
        </div>

        <section class="sub-grid-col-3">
            <div class="card">
                <img src="assets/img/s-mountains.jpg" alt="">
                <div class="card-title">
                    <h4>Local Content</h4>
                    <p>One of the best ways to get your site to rank higher when 
                        people search locally and on mobile devices is to have
                        quality content. Quality content is a great way to 
                        have your pages move up in the search index for local search.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/img/s-v-mountain.jpeg" alt="">
                <div class="card-title">
                    <h4>Smart Content</h4>
                    <p>By creating landing pages that address the specific market
                        segments, product segments or key content segments
                        for your business you can begin to better funnel
                        people to the specific types of content they desire.
                        Using a tool like Survey Funnel in conjunction with your
                        landing pages could allow a visitor to tell you what they
                        are looking for and be directed to specific content based
                        on their choices.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/img/s-mountains.jpg" alt="">
                <div class="card-title">
                    <h4>Lead Capture</h4>
                    <p>A landing page sells and demonstrates the benefits and
                        is a must for lead capture campaigns.</p>
                </div>
            </div>
        </section>
        <section>
            <article class="container">
                <h1>Static Pages when nothing else will do.</h1>
                <p>One of the issues with alternative solutions; that alternative being
                   the likes of WordPress is the maintenance involved. WordPress Core,
                   in itself is secure. The developers behind Wordpress do a very good
                   job at developing the product. But when you start installing Themes 
                   and plugins that are not part of the core product, and doing so 
                   without a proper plan, that is where a host of issues arise.</p>

                <h2>Static pages, not that other crap.</h2>
                <p><a href="https://www.wpwhitesecurity.com/wordpress-security-news-updates/statistics-70-percent-wordpress-installations-vulnerable/">
                70% of WordPress</a> installations are vulnerable to hacker attacks. But to be fair, everything is hackable. 
                If it exists, it can be hacked. But when you use a Static site, the attack surface reduces considerably. 
                There is no need to worry if a plugin becomes outdated. There is no need to worry about a security exploit 
                in your database. There is a production machine which simply serves the files to your end users.</p>

                <h2>Faster &dash; a class of it's own.</h2>
                <p>Browsers render HTML, CSS and Javascript. That is it. Having a dynamic Website means that each time
                    someone visits your webpage, the server in charge of processing that request needs to build the resources
                    for every person that visits the page. A Static Site on the other hand always sends the same information, 
                    reducing the need of computer resources.</p>

                <h2>Who is flexible?</h2>
                <p>When you use other solutions as WordPress, Drupal, et. al., they start out as a one&ndash;size&ndash;fits&ndash;all
                   solution. You later customize them by installing plugins. Too many plugins; go ahead and search for 
                   "must have Wordpress plugins". You can use tools that help you create Static Sites, but I personally write all
                   the code from scratch. I like to view it as when Karl Marx came up with his theory. He first needed to become
                an expert in Capitalsm to be able to understand how that idea works.</p>

                <h2>Smaller Footprint</h2>
                <p>When building your website with Et. al., you can either host it yourself, making sure that everything is 
                    kept up to date, avoiding any security vulnerabilities that show up every now and then; and would also have
                    to keep an eye out in case an updated plugin or theme breaks something.</p>

                <P>A Static site can be hosted anywhere. Remember that all in all, they are just text files with HTML, CSS and
                    Javascript code that are served to a browser. When we pair this with any number of services that do the heavy
                    lifting of serving your content, the time saved in maintenance can be spent in other aspects. Whether it is in
                    other areas of your business of using it to spend it with friends and family.</P>

                <h2>Realiable is crazy good</h2>
                <p>By not having a database in your static site, you don't have to worry about database errors.
                    Just place your static files in a content delivery network and they will be served using 
                    the server closest to your customer. Obviously nothing is 100% foolproof; but once again,
                    it reduces the number of places where something could go wrong.</p>

                <h2>Go far with Scalable</h2>
                <p>If all of a sudden your website has a spike in traffic, the server needs to do the same process
                    to serve each user. Every single page needs to be built by the server and sent. With Static sites,
                    it's the same content being served. There aren't any additional server resources being wasted; 
                    there aren't any additional costs on that end. The only additional cost would be of increased
                    bandwidth by some service providers.</p>
            </article>
            <blockquote class="sienna" cite="https://rachelandrew.co.uk/archives/2015/09/02/css-grid-and-the-box-alignment-module/">
                <p>Having good control over alignment and justification is one of the major benefits of modern layout methods
                    such as Flexbox and CSS Grid Layout. These alignment properties are specified in the CSS Box Alignment
                    Level 3 Module.</p>
            </blockquote>
        </section>
    </main>
    <footer class="container style-footer">
        <div class="g-footer">
            <section class="item-center">
                <ul>
                    <li>&copy; Legere</li>
                </ul>
            </section>
            <section class="item-center">
                <h4>About</h4>
                <ul>
                    <li>F.A.Q.</li>
                </ul>
            </section>
            <section class="item-center">
                <h4>Showcase</h4>
                <ul>
                    <li>Legere</li>
                    <li>Purus</li>
                    <li>Roevo</li>
                </ul>
            </section>
        </div>
    </footer>
    <script>
        // Code for slider
        // slider automatic play
        var next = document.querySelector(".left-b");
        var previous = document.querySelector(".right-b");
        var slides = document.querySelectorAll(".slides");
        var currentSlide = 0;
        var interval = 3000;
        var slideInterval = setInterval(nextSlide, interval);

        function nextSlide() {
            goToSlide(currentSlide + 1);
        }

        function previousSlide() {
            goToSlide(currentSlide - 1);
        }

        function goToSlide(n) {
            slides[currentSlide].className = 'slides is-hidden';
            currentSlide = (n + slides.length) % slides.length;
            slides[currentSlide].className = 'slides';
        }


        next.addEventListener('click', function (event) {
            pauseSlideShow();
            nextSlide();
        });

        previous.addEventListener('click', function (event) {
            pauseSlideShow();
            previousSlide();
        });

        // Pause the slider
        var playing = true;
        var pauseButton = document.querySelector(".pause");

        function pauseSlideShow() {
            pauseButton.innerHTML = 'Play';
            playing = false;
            clearInterval(slideInterval);
        }

        function playSlideShow() {
            pauseButton.innerHTML = 'Pause';
            playing = true;
            slideInterval = setInterval(nextSlide, interval);
        }

        pauseButton.addEventListener('click', function (event) {
            if (playing) {
                pauseSlideShow();
            }
            else {
                playSlideShow();
            }
        });

        // Show the slider controls only if
        // JS is available.
        var controls = document.querySelectorAll(".hide-controls");
        for (var i = 0; i < controls.length; i++) {
            controls[i].classList.remove("hide-controls")
        }
    </script>
</body>

</html>