<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>

    <div class="sub-grid-col-2">
        <div class="one">
            <header>
                <h1>Catrina Finola</h1>
                <p class="subheading">Photographer, writer, coffee lover.</p>
                <hr class="divider">
                <p class="lighter-font">Fusce finibus est eget blandit mollis. Fusce laoreet blandit tincidunt. Suspendisse at arcu in nunc.</p>
                <div class="icon-grid">
                    <a  href="https://www.twitter.com"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                </div>
            </header>
        </div>
        <div class="two hero-image">

        </div>
    </div>
</body>

</html>