@charset "UTF-8";
/**
 * Typography
 */
:root {
    font-size: calc(18px + 0.8vw);
}

/*
 * Font families
 */
nav {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Lora', serif;
}

.slider {
    font-family: 'Lora', serif;
}

main {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

/**
 * Base Styles
 */
html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body,
nav, ul {
    margin: 0;
    padding: 0;
}

main section:not(:first-child) {
    margin: 2em 0;
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}

/* Responsive images */
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

p {
    margin-bottom: 1.3em;
}

section {
    margin-bottom: 3em;
}

h1, h2, h3, 
h4, h5, h6 {
    padding: 0;
    line-height: 1.2;
    font-weight: inherit;
    margin-top: calc((1.414rem - 2rem) + 1.414rem);
    margin-bottom: 0.5em;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Sans-serif;
    font-weight: 400;
    text-align: left;
    font-kerning: normal;
    line-height: 1.4;
}

body {
    max-width: 35em;
    padding: 1em;
    margin: 0 auto;
}

/**
 * Nav styles
 */
nav ul li,
nav ul a {
    list-style-type: none;
    white-space: nowrap;
}

nav ul li a,
nav ul a,
.header-img a  {
    text-decoration: none;
}

.header {
    margin: 4rem;
}

main {
    margin-top: 4rem;
}

.more-space {
    margin-top: 4em;
}

body {
    background: #f5f6f6;
}

h1 {
    color: #023582;
    text-align: center;
}

h2 {
    color: #259CD6; 
}

.title {
    font-size: 2.5rem;
}

/*
 * First example
 * Three columm track grid
 * with new rows created at 
 * a minimum of 100px and a
 * Maximum of auto
 */

.first-example > .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
