<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <title>Roevo Template</title>
</head>

<body>
    <nav class="g-nav">
        <ul class="logo">
            <li><a href="#">Roevo</a></li>
        </ul>
        <ul class="nav-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <header class="g-header">
        <h1>Roevo, sublime, simple.</h1>
        <ul>
            <li><a class="cta" href="#">Get it now</a></li>
        </ul>
    </header>
    <main class="g-main">
        <section class="g-showcase">
            <h2>Product showcase</h2>

            <div class="g-product">

                <div class="g-column-l">
                    <div class="card">
                        <h3>1st product attribute</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sagittis.</p>
                        <i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i>
                    </div>

                    <div class="card">
                        <h3>2st product attribute</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sagittis.</p>
                        <i class="fa fa-cc-visa" aria-hidden="true"></i>
                    </div>
                    <div class="card">
                        <h3>3st product attribute</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sagittis.</p>
                        <i class="fa fa-firefox" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="g-column-m">
                    <img src="assets/img/iphone.png" alt="">
                </div>
                <div class="g-column-r">
                    <div class="card">
                        <h3>4st product attribute</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sagittis.</p>
                        <i class="fa fa-ravelry" aria-hidden="true"></i>
                    </div>

                    <div class="card">
                        <h3>5st product attribute</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sagittis.</p>
                        <i class="fa fa-y-combinator" aria-hidden="true"></i>
                    </div>
                    <div class="card">
                        <h3>6st product attribute</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sagittis.</p>
                        <i class="fa fa-linux" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </section>

        <section class="g-customers">
            <div class="customer-bg">
                <h2>Customer feedback</h2>
            </div>
            <div class="g-customer">
                <div class="profile-card">
                    <img src="assets/img/female.jpg" alt="">
                    <div class="profile-container">
                        <h4>&#8209;Customer name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec elementum leo. Duis molestie
                            ac diam a facilisis. Nam molestie, lorem vitae finibus ornare, leo.</p>
                    </div>
                </div>
                <div class="profile-card">
                    <img src="assets/img/male.jpeg" alt="">
                    <div class="profile-container">
                        <h4>&#8209;Customer name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec elementum leo. Duis molestie
                            ac diam a facilisis. Nam molestie, lorem vitae finibus ornare, leo.</p>
                    </div>
                </div>
                <div class="profile-card">
                    <img src="assets/img/short-hair.jpeg" alt="">
                    <div class="profile-container">
                        <h4>&#8209;Customer name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec elementum leo. Duis molestie
                            ac diam a facilisis. Nam molestie, lorem vitae finibus ornare, leo.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="g-features">
            <div class="g-features-h">
                <h2>Product Features</h2>
            </div>
            <div class="features-l">
                <i class="fa fa-etsy fa-5x" aria-hidden="true"></i>
                <div class="features-right">
                    <h3>Maia</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec elementum leo. Duis molestie ac
                        diam a facilisis. Nam molestie, lorem vitae finibus ornare, leo.</p>
                </div>
            </div>

            <div class="features-l">
                <i class="fa fa-bug fa-5x" aria-hidden="true"></i>
                <div class="features-right">
                    <h3>Aubus</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec elementum leo. Duis molestie ac
                        diam a facilisis. Nam molestie, lorem vitae finibus ornare, leo.</p>
                </div>
            </div>

            <div class="features-l">
                <i class="fa fa-free-code-camp fa-5x" aria-hidden="true"></i>
                <div class="features-right">
                    <h3>Dequix</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec elementum leo. Duis molestie ac
                        diam a facilisis. Nam molestie, lorem vitae finibus ornare, leo.</p>
                </div>
            </div>

            <div class="features-l">
                <i class="fa fa-circle-o-notch fa-5x" aria-hidden="true"></i>
                <div class="features-right">
                    <h3>Padia</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec elementum leo. Duis molestie ac
                        diam a facilisis. Nam molestie, lorem vitae finibus ornare, leo.</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="g-footer">
        <div>
            <p><small>&copy; Copyright 2017, Roevo Corporation</small></p>
            <nav class="g-nav-footer">
                <a href="#">Credits</a>
                <a href="#">Terms of Service</a>
                <a href="#">Blog</a>
            </nav>
        </div>
        <ul>
            <a href=""><i class="fa fa-twitter fa-2x"></i></a>
            <a href=""><i class="fa fa-instagram fa-2x"></i></a>
            <a href=""><i class="fa fa-facebook fa-2x"></i></a>
        </ul>
    </footer>
    <script src="js/main.js"></script>
</body>

</html>