html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    text-align: left;
    font-kerning: normal;
    line-height: 1.45;
}

:root {
    font-size: calc(16px + 0.6vw);
}

.hero {
    background-image: linear-gradient(to top, rgba(24,29,33,0.741), rgba(24,29,33,0.741)),
                      url(../assets/cover-photo-l.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media only screen and (max-width: 900px){
    .hero {
        background-image: linear-gradient(to top, rgba(24,29,33,0.741), rgba(24,29,33,0.741)),
                          url(../assets/cover-photo-m.jpeg);
        background-position: center center;
    }
}

@media only screen and (max-width: 500px){
    .hero {
        background-image: linear-gradient(to top, rgba(24,29,33,0.741), rgba(24,29,33,0.741)),
                          url(../assets/cover-photo-s.jpeg);
        background-position: 80% center;
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero {
    color: #FF4136;
}


@media only screen and (max-width: 500px){
    .hero {
        padding: 0 1em;
    }
}

body {
    font-family: serif;
}

.hero h1 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
}

.hero p {
    margin-top: 0.1em;
    font-family: 'Roboto', sans-serif;
}

/* @media only screen and (max-width: 900px){
    .hero h1 {
        font-size: 4.1em;
    }

    .hero p {
        font-size: 1.8em;
    }   

} */


@media only screen and (max-width: 500px){
    .hero h1 {
        line-height: 1.0005;
    }

    .hero p {
        margin-top: 0.5em;
        text-align: center;
    }
}


.btn {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #0074D9;
    cursor: pointer;
    background: #0074D9;
    color: #fff;
    white-space: nowrap;
    max-width: 20rem;
    line-height: 40px;
    padding: 0 1.75em;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11),
                0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    transition: all .35s ease;
}

.btn:hover {
    background: rgb(26, 92, 150);
    color: #fff;
}
