html, body {
    margin: 0;
    padding: 0;
}

/* linear-gradient(to right, rgba(201, 160, 110, .6), rgba(250, 241, 200, 0) 70.71%),  */
/* linear-gradient(to right, rgba(102, 126, 234, 0.6), rgba(118, 75, 162, 0) 70.71%), */
.hero {
    background-image: linear-gradient(to right, rgba(223, 233, 243, 0.5), rgba(255, 255, 255, 0.1)),
                      url(../assets/cover-photo-l.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media only screen and (max-width: 900px){
    .hero {
        background-image: linear-gradient(to right, rgba(223, 233, 243, 0.7), rgba(255, 255, 255, 0.1)),
                          url(../assets/cover-photo-m.jpeg);
        background-position: center center;
    }
}

@media only screen and (max-width: 500px){
    .hero {
        background-image: linear-gradient(to right, rgba(223, 233, 243, 0.7), rgba(255, 255, 255, 0.1)),
                          url(../assets/cover-photo-s.jpeg);
        background-position: 80% center;
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero {
    color: #6b1a01;
}

@media only screen and (max-width: 500px){
    .hero {
        padding: 0 1em;
    }
}

body {
    font-family: serif;
}

.hero h1 {
    margin: 0;
    font-size: 6.8em;
    font-family: sans-serif;
}

.hero p {
    font-size: 2.3em;
    margin-top: 0.1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media only screen and (max-width: 900px){
    .hero h1 {
        font-size: 4.8em;
    }

    .hero p {
        font-size: 1.8em;
    }   

}


@media only screen and (max-width: 500px){
    .hero h1 {
        font-size: 3.2em;
    }

    .hero p {
        font-size: 1.5em;
    }
}


.btn {
    border: 1px solid #000;
    cursor: pointer;
    background: #000;
    color: #fff;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11),
                0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    transition: all .35s ease;
}

.btn:hover {
    background: #fff;
    color: #000;
}


@media only screen and (max-width: 900px){
    .btn {
        border: 1px solid #261a0e;
        background: #000;
        color: #fff;
    }

    .btn:hover {
        background: #fff;
        color: #000;
    }
}