body {
    font-family: 'Hind Madurai', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2, h3, h4 {
    font-family: 'Lora', serif;
}


body {
    line-height: 1.4;
}

p {
    line-height: 1.6;
}

.container {
    width: 88%;
    max-width: 1080px;
    margin: 0 auto;
}

.hero {
    margin-bottom: 6rem;
    background-image: url(../assets/product.jpg), linear-gradient(90deg,rgba(108, 99, 255, 1), rgba(70, 65, 255, 1));;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-blend-mode: color-burn;
    color: #fff;
}


.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 2rem;
}

.hero-tagline {
    margin-top: 0;
    margin-bottom: 2.5rem;
    max-width: 60%;
}

@media only screen and (max-width: 600px) {
    .hero-title,
    .hero-tagline {
        max-width: 100%;
    }
}

.product {
    text-align: center;
}

.product-title {
    margin-bottom: 2rem;
}
.product-tagline {
    max-width: 50%;
    margin: 0 auto 5.5rem auto;
}

.product-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 6rem;
}

.product-media {
    margin-bottom: 2.8rem;
}

@media only screen and (max-width: 600px) {
    .product-tagline {
        margin: 0 auto 2.5rem auto;
    }
    .product-items .product-card:not(:first-child) {
        border-top: 1px solid #eee;
    }
    .product-card {
        margin-bottom: 1rem;
    }
    .product-media {
        margin-top: 2.8rem;
    }
}

.product-img {
    max-height: 100px;
    max-width: none;
}

.steps {
    background-color: #f7f7f7;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 6rem 0;
}

.cta {
    background-color: #4641ff;
    color: #fff;
}

.cta,
.steps-center {
    padding: 6rem 0;
}

.expanded {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

@media only screen and (max-width: 600px) {
    .expanded {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.expanded-media {
    text-align: center;
}

.expanded-media img {
    max-width: 280px;
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .steps,
    .cta,
    .steps-center {
        padding: 3rem 0;
    }
    .expanded-media img {
        max-width: 180px;
    }
    .is-hidden {
        display: none;
    }
}

.expanded-content {
    align-self: center;
}

.cta-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-tagline {
    margin-bottom: 4rem;
}

.product-tagline,
.product-card-tagline,
.expanded-text {
    color: #666;
}


.footer {
    background-color: #333c44;
    color: #d9d9d9;
    padding: 6rem 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.footer-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

@media only screen and (max-width: 600px) {
    .footer-grid,
    .footer-data {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}

.footer-logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.325rem;
}

.footer-data a {
    display: block;
    color: #d9d9d9;
    line-height: 2;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;

    background-color: black;
    color: #fff;
}

.hero-btn,
.btn-cta {
    background-color: #06d19c;
    border-color: #06d19c;
}