@charset "UTF-8";
/**
 * Typography
 */
:root {
    font-size: calc(18px + 0.8vw);
}

/*
 * Font families
 */
nav {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Lora', serif;
}

.slider {
    font-family: 'Lora', serif;
}

main {
    font-family: 'Lato', sans-serif;
}

/**
 * Base Styles
 */
html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body,
nav, ul {
    margin: 0;
    padding: 0;
}

main section:not(:first-child) {
    margin: 2em 0;
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}

/* Responsive images */
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

p {
    margin-bottom: 1.3em;
}

section {
    margin-bottom: 3em;
}

h1, h2, h3, 
h4, h5, h6 {
    padding: 0;
    line-height: 1.2;
    font-weight: inherit;
    margin-top: calc((1.414rem - 2rem) + 1.414rem);
    margin-bottom: 0.5em;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Sans-serif;
    font-weight: 400;
    text-align: left;
    font-kerning: normal;
    line-height: 1.4;
}

body {
    max-width: 35em;
    padding: 1em;
    margin: 0 auto;
    background: #fdf9f9;
}

/**
 * Nav styles
 */
nav ul li,
nav ul a {
    list-style-type: none;
    white-space: nowrap;
}

nav ul li a,
nav ul a,
.header-img a  {
    text-decoration: none;
}

/*
 * First example
 * Three columm track grid
 * with new rows created at 
 * a minimum of 100px and a
 * Maximum of auto
 */

.first-example > .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.first-example > .wrapper >
.one {
    grid-column: 1 / 3;
    grid-row: 1;
}

.first-example > .wrapper >
.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.first-example > .wrapper >
.three {
    grid-column: 1;
    grid-row: 2 / 5;
}

.first-example > .wrapper >
.four {
    grid-column: 3;
    grid-row: 3;
}

.first-example > .wrapper >
.five {
    grid-column: 2;
    grid-row: 4;
}

.first-example > .wrapper >
.six {
    grid-column: 3;
    grid-row: 4;
}

.two, .four, .six {
    background-color: #dcbfa8;
}

.first-example > .wrapper > .two {
    opacity: 0.6;
}

.one, .three, .five{
    background-color: #703343;
}

/*
 * SECOND example
 * Three columm track grid
 * with new rows created at 
 * a minimum of 100px and a
 * Maximum of auto
 */

.second-example > .wrapper {
    display: grid;

}

.second-example > 
.wrapper > .two,
.second-example > 
.wrapper > .four {
    background-color: #ede3db;
}

.second-example > 
.wrapper > .one,
.second-example > 
.wrapper > .three,
.second-example > 
.wrapper > .five{
    background-color: #dcbfa8;
}

/*
 * third example
 * Three columm track grid
 * with new rows created at 
 * a minimum of 100px and a
 * Maximum of auto
 */

.third-example > .wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.third-example > 
.wrapper > .two,
.third-example > 
.wrapper > .four {
    background-color: #ceddef;
}

.third-example > 
.wrapper > .one,
.third-example > 
.wrapper > .three,
.third-example > 
.wrapper > .five{
    background-color: #0689c7;
}

/*
 * fourth example
 * Three columm track grid
 * with new rows created at 
 * a minimum of 100px and a
 * Maximum of auto
 */

.fourth-example > .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fourth-example > 
.wrapper > .two,
.fourth-example > 
.wrapper > .four {
    background-color: #ceddef;
}

.fourth-example > 
.wrapper > .one,
.fourth-example > 
.wrapper > .three,
.fourth-example > 
.wrapper > .five{
    background-color: #0689c7;
}

/*
 * fifth example
 * Three columm track grid
 * with new rows created at 
 * a minimum of 100px and a
 * Maximum of auto
 */

.fifth-example > .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.fifth-example > 
.wrapper > .two,
.fifth-example > 
.wrapper > .four {
    background-color: #ceddef;
}

.fifth-example > 
.wrapper > .one,
.fifth-example > 
.wrapper > .three,
.fifth-example > 
.wrapper > .five{
    background-color: #0689c7;
}

/*
 * sixth example
 * Three columm track grid
 * with new rows created at 
 * a minimum of 100px and a
 * Maximum of auto
 */

.sixth-example > .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sixth-example > 
.wrapper > .two,
.sixth-example > 
.wrapper > .four {
    background-color: #e1d2e9;
}

.sixth-example > 
.wrapper > .one,
.sixth-example > 
.wrapper > .three,
.sixth-example > 
.wrapper > .five{
    background-color: #8e7091;
}

/*
 * seventh example
 * Three columm track grid
 * with new rows created at 
 * a minimum of 100px and a
 * Maximum of auto
 */

.seventh-example > .wrapper {
    display: grid;
    grid-template-columns: 20px repeat(3, 1fr) 20px;
}

.seventh-example > 
.wrapper > .two,
.seventh-example > 
.wrapper > .four {
    background-color: #e1d2e9;
}

.seventh-example > 
.wrapper > .one,
.seventh-example > 
.wrapper > .three,
.seventh-example > 
.wrapper > .five {
    background-color: #8e7091;
}

/*
 * eight example
 * Three columm track grid
 * with new rows created at 
 * a minimum of 100px and a
 * Maximum of auto
 */

.eight-example > .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr 2fr);
}

.eight-example > 
.wrapper > .two,
.eight-example > 
.wrapper > .four,
.eight-example > 
.wrapper > .six,
.eight-example > 
.wrapper > .eight,
.eight-example > 
.wrapper > .ten {
    background-color: #e1d2e9;
}

.eight-example > 
.wrapper > .one,
.eight-example > 
.wrapper > .three,
.eight-example > 
.wrapper > .five,
.eight-example > 
.wrapper > .seven,
.eight-example > 
.wrapper > .nine {
    background-color: #8e7091;
}