<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai|Lora|Montserrat" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" media="screen" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/navbar.css" />
</head>

<body>
    <nav class="navigation">
        <div class="container">
            <a href="#" class="logo">Logo</a>
            <ul class="navigation-links">
                <li>
                    <a href="#">Nav</a>
                </li>
                <li>
                    <a href="#">Nav 2</a>
                </li>
                <li>
                    <a href="#">Nav 3</a>
                </li>
            </ul>
            <button id="menu" class="btn-menu" aria-pressed="false">
                <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg"
                     class="svg-menu" width="38" height="38" viewBox="0 0 38 38" >
                    <title>Open</title>
                    <!-- <line x1="10" x2="25" y1="10" y2="10" stroke="black" stroke-width="2"/>
                    <line x1="10" x2="25" y1="15" y2="15" stroke="black" stroke-width="2"/>
                    <line x1="10" x2="25" y1="20" y2="20" stroke="black" stroke-width="2"/> -->
                    <path class="h t" d="M10.5 10l17 0"/>
                    <path d="M10.5 19l17 0"/>
                    <path class="h b" d="M10.5 28l17 0"/>
                    <path class="x" d="M19 10.5l0 17"/>
                </svg>
                <span>Menu</span>
            </button>
        </div>
    </nav>
    <header class="hero">
        <div class="container">
            <h1 class="hero-title">A Responsive template for your project</h1>
            <p class="hero-tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, blanditiis fugiat odio consectetur harum laborum.
                Iste necessitatibus ipsa, fuga corrupti error assumenda iure!</p>
            <a href="" class="btn hero-btn">Get in touch</a>
        </div>
    </header>
    <main>
        <section class="product">
            <div class="container">
                <h2 class="product-title">Brief product description</h2>
                <p class="product-tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, perferendis impedit! Vero, quia!</p>
            </div>
            <div class="container">
                <div class="product-items">
                    <div class="product-card">
                        <div class="product-media">
                            <img class="product-img" src="./assets/web.svg" alt="" class="product-img">
                        </div>
                        <h4 class="product-card-title">Cross browser</h4>
                        <p class="product-card-tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="product-card">
                        <div class="product-media">
                            <img class="product-img" src="./assets/checklist_b.svg" alt="" class="product-img">
                        </div>
                        <h4 class="product-card-title">Checklist</h4>
                        <p class="product-card-tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="product-card">
                        <div class="product-media">
                            <img class="product-img" src="./assets/contrast_b.svg" alt="" class="product-img">
                        </div>
                        <h4 class="product-card-title">Contrast</h4>
                        <p class="product-card-tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="steps">
            <div class="container">
                <div class="expanded">
                    <div class="expanded-media">
                        <img src="./assets/fast_loading_b.svg" alt="" class="expanded-img">
                    </div>
                    <div class="expanded-content">
                        <h2 class="expanded-title">Fast Loading</h2>
                        <p class="expanded-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit a ipsam nisi sunt quibusdam quasi vitae, rerum rem autem accusantium cumque minima ducimus pariatur, tenetur incidunt molestiae? Maiores vel accusamus necessitatibus nisi impedit odit porro.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="steps-center">
            <div class="container">
                <div class="expanded">
                    <div class="expanded-content">
                        <h2 class="expanded-title">Organized</h2>
                        <p class="expanded-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit a ipsam nisi sunt quibusdam quasi vitae, rerum rem autem accusantium cumque minima ducimus pariatur, tenetur incidunt molestiae? Maiores vel accusamus necessitatibus nisi impedit odit porro.</p>
                    </div>
                    <div class="expanded-media is-hidden">
                        <img src="./assets/organized_b.svg" alt="" class="expanded-img">
                    </div>
                </div>
            </div>
        </section>

        <section class="steps">
            <div class="container">
                <div class="expanded">
                    <div class="expanded-media">
                        <img src="./assets/responsive_b.svg" alt="" class="expanded-img">
                    </div>
                    <div class="expanded-content">
                        <h2 class="expanded-title">Responsive</h2>
                        <p class="expanded-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus amet cum voluptatum illo, voluptates consequatur nisi dolorum impedit iste distinctio laboriosam vel explicabo, soluta consequuntur quia repellat. Commodi, earum modi!</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta">
            <div class="container">
                <div class="cta-inner">
                    <h2 class="cta-title">Get started now</h2>
                    <p class="cta-tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="" class="btn btn-cta">Let's talk</a>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-grid">
                <a href="#" class="footer-logo">Summus Theme</a>
                <div class="footer-data">
                    <div class="footer--data__item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <div class="footer--data__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit explicabo sapiente.</div>
                    <div class="footer--data__item">
                        <a href="">Github</a>
                        <a href="">Twitter</a>
                        <a href="">Youtube</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="nav-modal">
        <ul class="nav-modal-links">
            <li>
                <a href="#">Nav</a>
            </li>
            <li>
                <a href="#">Nav 2</a>
            </li>
            <li>
                <a href="#">Nav 3</a>
            </li>
        </ul>
    </div>
    <script src="js/main.js"></script>
</body>

</html>