/**
 * Base Styles
 */
 html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}


html, body,
nav, ul {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    text-align: left;
    font-kerning: normal;
    line-height: 1.45;
}

/**
 * Typography
 */
:root {
    font-size: calc(16px + 0.6vw);
}

body {
    font-family: Helvetica;
}

h1, h2, h3 {
    font-family: sans-serif;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

/* Responsive images */
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    border-style: none;
}

/**
 * Header / Hero
 */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    height: 80vh;
}

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .flex-container {
    height: 1024px;
  }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .flex-container {
    height: 768px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .flex-container {
    height: 500px;
  }
}

.flex-container p {
    max-width: 28em;
    
}

header {
    background-image: url(../assets/coffee_laptop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

header h1 {
    margin: 0;
}

header p {
    flex-basis: 15%;
}

/**
 * Container / max-width
 */
.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

@media (max-width: 800px){
    .flex-container,
    .container {
        margin: 0 1em;
    }
    .flex-container {
        line-height: 1.2;
    }
}

.card-container {
    max-width: 50em;
    margin: 0 auto;
}

@media (min-width: 600px){ 
    .card-container {
        padding: 0 1em;
    }
}

/**
 * card GRID
 */
@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 1em;
    }

    @media (min-width: 800px){ 
        .card-two {
            grid-column: 2 / span 2;
            justify-self: end;
        }
    
        .card-three {
            grid-row: 2;
            grid-column: 3;
        }
    
        .card-four {
            grid-column: 1 / span 2;
        }
}

img {
    border-radius: 8px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.6);
}

@media (max-width: 600px){ 
    .card-content {
        padding: 0 1em;
    }
    img {
        border-radius: 0;
    }
}

.flex-col {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.flex-spacing {
    justify-content: space-between;
}

.max-width {
    max-width: 38em;
}

/**
 * Form styling
 */
form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 1em;
}

/**
 * Footer
 */
footer {
    padding: 3em 0;
}

input[type="email"] {
    height: 2.25em;
    border-radius: 0.375em;
    background-color: rgba(255, 255, 255, 0.129);
    padding: 1.2em 1em;
    color: #fff;
    border: 2px solid #0D47A1;
}

input[type="email"].input-color {
    border: 2px solid #000;
    color: #000;
}

button {
    font-size: 1rem;
    padding: 4px 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: none;
    background: #0D47A1;
    color: #fff;
    text-rendering: optimizeLegibility;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: background 0.25s;
}

.btn-color {
    background: #000;
    color: #fff;
}

.bg-primary {
    color: #0D47A1;
}

.bg-secondary {
    background: #0D47A1;
    color: #fff;
}

section {
    padding: 2em 0;
}

.bg-primary h2,
.bg-primary section > p {
    text-align: center;
}

.bg-primary h2,
.bg-tertiary h3 {
    margin-bottom: 0;
}

.bg-primary p {
    margin-top: 0;
}

.bg-primary p {
    margin-bottom: 4em;
}


.bg-footer {
    background: #EEEEEE;
}