@charset "UTF-8";

/**
 * Understanding the html vs body elements in css
 * http://phrogz.net/css/htmlvsbody.html
 *
 * https://css-tricks.com/html-vs-body-in-css/
 */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/**
 * hmtl, body -> margin, padding set to 0 in normalize
 * Allows setting an element to be full height
 */
body {
    min-height: 100vh;
}

/*
* + * {
    margin-top: 1.5rem;
}
*/

p {
    margin: 0 0 0.5rem 0;
}

/**
 * Lists, blockquote and table
 */
dl {
    margin-bottom: 1rem;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 0 1rem 0;
}

/**
 * Hanging Bullets
 * on small screens at least 2em's of left-padding
 * are needed on the body copy's container.
 */
ul {
    margin: 0;
    padding: 0;
}

/*
 * Might need to increase on smaller screens
 */
li li {
    margin-right: 1em;
}
/**
 * May need to delete these since they are
 * already mentioned in Hanging Bullets above
 */
ol, ul {
    list-style: none;
    padding-left: 1rem;
    margin: 0 0 1rem 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Placeholders
 */
::-webkit-input-placeholder {
    color: #0077aa;
}
::-moz-placeholder {
    color: #0077aa;
}
:-ms-input-placeholder {
    color: #0077aa;
}
:-moz-placeholder {
    color: #0077aa;
}

/* Responsive images */
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
/** For testing purposes, to be removed later
    display: block;
    max-height: 98vh;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0.6rem auto;
    padding: 0;
*/
}

figure {
    margin: 0 0 1rem 0;
}

/**
 * Responsive elements
 */
canvas, iframe,
video, svg, 
select, textarea,
input {
    max-width: 100%;
}