/**
 * Contact Form
 */
form {
    margin-top: 2em;
}

.company-info > ul > li > a,
.company-info > ul > li {
    font-size: 0.6rem;
}

.grid-wrapper {
    box-shadow: 0 0 20px 0 rgba(84, 106, 123, 0.7);
}

.grid-wrapper > * {
    padding: 1em;
}

.company-info {
    background: #25547b;
    color: white;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
    list-style-type: none;
}

.contact {
    background: #fff;
}

.contact h3 {
    color: #091b2a;
}

/* Form styles */


#remove-style {
    color: #fff;
    text-decoration: none;
}

.company-info ul li i {
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
}


/* Large screens for Contact Form*/
@media (min-width: 700px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .grid-wrapper > * {
        padding: 2em;
    }

    .company-info h3,
    .company-info ul,
    .brand {
        text-align: left;
    }
}

/**
 * FORM Web Design Layout
 */
 .web-form {
    margin: 0 auto;
}

.web-form-grid {
    display: grid;
    grid-template-columns: 2fr;
    text-align: left;
    grid-gap: 1em;
    margin: 1em;
}

@media all and (max-width: 768px) { 
    .web-form-grid {
        grid-template-columns: 1fr;
    }
}

/**
 * FORM Web Design Theme
 */
.web-form {
    border-radius: 6px;
    background: #25547b;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.web-form form h2 {
    padding-top: 0.5em;
}

.form-header-theme {
    background: #25547b;
    color: #fff;
    padding: 0.5em;
    border-bottom: 3px solid #808080;
}

.form-text {
    max-width: 30em;
    margin: 0 auto;
}

/**
 * FORM Elements Web Design Theme
 */
.btn-width {
    margin: 0 auto;
    font-weight: 600;
    background: #942929;
    color: #fff;
    border-radius: 6px;
}

.contact form .web-form-grid
input[type="text"],
.contact form .web-form-grid
input[type="email"],
.contact form .web-form-grid
textarea {
    background: #fff;
}

.contact form .web-form-grid
input[type="text"]:focus,
.contact form .web-form-grid
input[type="email"]:focus,
.contact form .web-form-grid
textarea:focus {
    color: #000;
    min-width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #808080;;
    padding: 0.4em;
    margin: 0.5em;
    min-width: 90%;
    background: #25547b;
    color: #000;
}
 
@media all and (max-width: 768px) { 
    input[type="text"],
    input[type="email"],
    textarea {
        padding: 0;
        margin: 0;
    }

    .contact form .web-form-grid
    input[type="text"],
    .contact form .web-form-grid
    input[type="email"],
    .contact form .web-form-grid
    textarea {
        max-width: 100%;
    }
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    color: #808080;
}

label select {
    border-radius: 6px;
}

/**
 * Form button
 */
.web-form form div button {
    max-width: 8em;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

/**
 * Form button style
 */
.web-form form div button {
    border-radius: 6px;
    background: #E6E9EC;
    color: #094475;
    padding: 0.2em 0.6em;
}