@charset "UTF-8";
/**
 * Forms
 * Change the values after testing.
 */
form {
    width: 70%;
}

input[type=text] {
    width: 90%;
    padding: 0.4rem;
    margin: 0.25rem;
}

input[type=submit] {
    width: 90%;
}

textarea {
    width: 90%;
    padding: 0.3em;
}

input[type=text]:focus,
textarea:focus {
    background-color: lightskyblue;
}