@charset "UTF-8";

/**
 * container grid
 */


/**
 * Grid areas for container grid
 * Influencer Section
 */
.grid-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-areas:
        ". box1 . . ."
        ". center center center box2"
        "box5 . box3 . ."
        ". . . box4 . ";
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.grid-header h1 {
    color: white;
    grid-area: center;
    align-self: end;
}

.box-1 {
    grid-area: box1;
    background-color: #26466d;
}

.box-2 {
    grid-area: box2;
    background-color: #36648b;
}

.box-3 {
    grid-area: box3;
    background-color: #3a5062;
}

.box-4 {
    grid-area: box4;
    background-color: #3a5062;
}

.box-5 {
    grid-area: box5;
    background-color: #26466d;
}

.box-1, .box-2,
.box-3, .box-4,
.box-5 {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    opacity: 0.2;
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media screen and (max-width: 40em) {
    .box-4, .box-5 {
        display: none;
    
    }
    .box-1,
    .box-2,
    .box-3 {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        opacity: 0.6;
    }
}

/**
 * Navigation bar
 */
.l-nav {
    display: grid;
    /* Explicitly sets the rows of the grid */
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-column-gap: 0.4em;
}

@media screen and (min-width: 40.01em) {
    .l-nav li:first-child {
        text-align: left;
        margin-left: 0.5em;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 
@media (min-width: 30.063em) {  
    .l-nav {
        grid-template-columns: repeat(5, 1fr);
    }
}  
 * Why do I have this? */

/**
 * Header
 */
.l-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**
 * Main
 */
main {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

/* Larger than tablet */
@media (min-width: 750px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr));
        grid-gap: 0.5vw;
        max-width: 960px;
        margin: 0 auto;
    }
}

/**
 * section / cards
 */

/**
 * Form
 */
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.brand {
    text-align: center;
}

.brand span {
    color: white;
}

.grid-wrapper {
    box-shadow: 0 0 20px 0 rgba(84, 106, 123, 0.7);
}

.grid-wrapper > * {
    padding: 1em;
}

.company-info {
    background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
    color: white;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact {
    background: #f9feff;
}

.contact h3 {
    color: #091b2a;
}

/* Form styles */
.contact form fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form fieldset label {
    display: block;
}

.contact form fieldset span {
    margin: 0;
}

.contact form fieldset .full {
    grid-column: 1 / 3;
}

.contact form fieldset button,
.contact form fieldset input,
.contact form fieldset textarea {
    width: 100%;
    border: 1px solid #546a7b;
}

.contact form fieldset button {
    background: #517fa4;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    padding: 0.5em;
    font-weight: 600;
}

.contact form fieldset button:hover,
.contact form fieldset button:focus {
    background: #243949;
    color: #fff;
    outline: 0;
    transition: background-color 1s ease-out;
}

#remove-style {
    color: #fff;
    text-decoration: none;
}

.company-info ul li i {
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
}


/* Large screens for form */
@media (min-width: 700px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .grid-wrapper > * {
        padding: 2em;
    }

    .company-info h3,
    .company-info ul,
    .brand {
        text-align: left;
    }
}


/**
 * Footer
 */
