@charset "UTF-8";

/**
 * Influencer Section
 */
.l-grid {
    display: grid;
    min-height: 60vh;
}


.l-grid div {
    position: relative;
    top: -50px;
}


.l-grid h1 {
    margin-top: 0;
}

.l-grid h1,
header.l-grid p {
    align-self: center;
    justify-self: center;
}

header.l-grid h1,
header.l-grid p {
    max-width: 30rem;
    padding: 0 1rem;
}

/**
 * Blog Header section
 */
.l-header-blog {
    display: grid;
}

.center {
    align-items: center;
    justify-items: center;
}
/**
 * Navigation bar
 */
.l-nav {
    display: grid;
    /* Explicitly sets the rows of the grid */
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-column-gap: 0.4em;
}

@media screen and (min-width: 40.01em) {
    .l-nav li:first-child {
        text-align: left;
        margin-left: 0.5em;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 
@media (min-width: 30.063em) {  
    .l-nav {
        grid-template-columns: repeat(5, 1fr);
    }
}  
 * Why do I have this? */

/**
 * Header
 */
.l-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.l-header h1 {
    margin-top: 2.5rem;
}

@media all and (max-width: 768px) 
{
    .l-header-style div h1 {
        font-size: 1.3rem;
    }
}

/**
 * Main
 */
.container {
    display: grid;
    grid-template-columns: 
        [full-start] minmax(1em, 1fr)
        [main-start] minmax(0, 40em) [main-end]
        minmax(1em, 1fr) [full-end];
}

.container > * {
    grid-column: main;
}

.container-full {
    grid-column: full;
}

.sub-grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

@media all and (max-width: 768px) { 
    .sub-grid-col-2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.sub-grid-col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}

@media all and (max-width: 768px) { 
    .sub-grid-col-3 {
        grid-template-columns: 1fr;
    }
}

/**
 * section / cards
 */
 @media all and (min-width: 768px) {
     section {
         margin-left: 1.2rem;
         margin-right: 1.2rem;
        }
}

/**
 * Contact Form
 */
.form-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.brand {
    text-align: center;
}

.brand span {
    color: white;
}

.grid-wrapper {
    box-shadow: 0 0 20px 0 rgba(84, 106, 123, 0.7);
}

.grid-wrapper > * {
    padding: 1em;
}

.company-info {
    background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
    color: white;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact {
    background: #f9feff;
}

.contact h3 {
    color: #091b2a;
}

/* Form styles */
.contact form fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form fieldset label {
    display: block;
}

.contact form fieldset span {
    margin: 0;
}

.contact form fieldset .full {
    grid-column: 1 / 3;
}

.contact form fieldset button,
.contact form fieldset input,
.contact form fieldset textarea {
    width: 100%;
    border: 1px solid #546a7b;
}

.contact form fieldset button {
    background: #517fa4;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    padding: 0.5em;
    font-weight: 600;
}

.contact form fieldset button:hover,
.contact form fieldset button:focus {
    background: #243949;
    color: #fff;
    outline: 0;
    transition: background-color 1s ease-out;
}

#remove-style {
    color: #fff;
    text-decoration: none;
}

.company-info ul li i {
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
}


/* Large screens for Contact Form*/
@media (min-width: 700px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .grid-wrapper > * {
        padding: 2em;
    }

    .company-info h3,
    .company-info ul,
    .brand {
        text-align: left;
    }
}

/**
 * Footer
 */

/**
 * WebDesign Section
 */
.gap {
    grid-gap: 1em;
}

.card-width {
    max-width: 20em;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.p-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    align-items: stretch;
}

@media all and (max-width: 768px) { 
    .p-card {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

.p-card-content {
    display: grid;
}

.p-card-content  > a {
    text-align: center;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    text-decoration: none;
    background-color: #045690;
    color: #ceddef;
}

.p-card > article {
    margin-bottom: 2em;
}

/**
 * Footer layout
 */
 .g-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: start;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.g-footer > .item-center >
ul > li > a {
    color: #ceddef;
}

.g-footer > .item-center >
ul > li > .active {
    color: black;
    text-decoration: none;
}

.g-footer section h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

@media all and (max-width: 768px) 
{
    .g-footer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.3em;
    }
}

.item-center {
    justify-self: center;
}
