@charset "UTF-8";

/**
 * container grid
 */


/**
 * Grid areas for container grid
 */


/**
 * Navigation bar
 */
.nav {
    display: grid;
    /* Explicitly sets the rows of the grid */
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 30.063em) {  
    .nav {
        grid-template-columns: repeat(5, 1fr);
        
    }
}

/**
 * Header
 */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**
 * Main
 */
main {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

/* Larger than tablet */
@media (min-width: 750px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr));
        grid-gap: 0.5vw;
        max-width: 960px;
        margin: 0 auto;
    }
}

/**
 * section / cards
 */


/**
 * Footer
 */
