@charset "UTF-8";
/**
 * Modules are the reusable, modular parts. They are
 * the callouts, the sidebar sections, product lists
 * and so on.
 */ 

/**
 * Styling buttons
 */


/**
 * CTA
 * Best practice links at the bottom
 * https://www.krisblack.com/journal/create-a-call-to-action-button-using-simple-code#0
 */
.button {
    border: none;
    border-radius: 1.4rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    width: auto;
}

.cta-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #fffcf9;
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F45C43, #EB3347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.cta-button:hover {
    background: #EB3349;
    background: -webkit-linear-gradient(to bottom, #EB3349, #8F0313);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EB3349, #8F0313); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

/**
 * Forms
 * Change the values after testing.
 */
textarea,
input[type=text],
input[type=email] {
    padding: 0.4rem;
    margin: 0.25rem;
 }

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    background-color: #c4e0e5;
    color: #091b2a;
}
