@charset "UTF-8";
/* State rules are ways to describe how our modules 
 * or layouts will look when in a particular state. Is
 * it hidden or expanded? Active or inactive?
 * They describe how a module or layout looks on
 * different sized screens. They are also about
 * describing how a module might look in different 
 * views like the home page or the inside page.
 */

/**
 * Active links
 */

/**
 * Navbar overlay Overlay
 */
/* smartphones, iPhone, portrait 480x320 phones */ 
@media screen and (min-width: 40.01em) {
    .openbtn {
        display: none;
    }
    .closebtn {
        display: none;
    }
}

/**
 * Navbar overlay Overlay
 */
/* smartphones, iPhone, portrait 480x320 phones */ 
@media screen and (max-width: 40em) {
    .openbtn {
        padding-left: 0.3em;
        font-size: 1.4em;
        color: #000;
    }
    .openbtn:hover {
        cursor: pointer;
    }
    .closebtn i {
        font-size: 1.4em;
    }
    .l-nav {
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
    }
    .overlay {
        /* Height and width on how to reveal overlay*/
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1; /* stay in place */
        top: -3vh;
        left: 0;
        background-color: rgb(36, 57, 73); /* Fallback */
        background-image: linear-gradient(180deg, #13547a 0%, #80d0c7 100%);
        transition: 0.5s;
        overflow-y: hidden;
    }
    /* Position the content inside the overlay */
    .overlay-content {
        position: relative;
        top: 10vh; /* 25% from the top */
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    /* navigation links inside the overlay */
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 1.3em;
        color: #fff;
        transition: 0.3s; /* transition effect on hover */
    }
    /* Mousing over the navigation links */
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    /* Position the close button (top right corner) */
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 1.3em;
    }
}