@charset "UTF-8";
nav {
    padding: 0.3rem;
    background-color: #26547c;
    box-shadow: inset 0 -1px 2px 1px #043040;
}

nav ul li a {
    color: #fffcf9;
}

/**
 * Header
 */
header {
    background-color: #26547c;
    color: #fffcf9;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    box-shadow: 0 4px 3px 0 #043040;
}

/**
 * CTA
 * Best practice links at the bottom
 * https://www.krisblack.com/journal/create-a-call-to-action-button-using-simple-code#0
 */
.button-wrapper {
    display: block;
    text-align: center;
}

.button {
    border: none;
    border-radius: 1.4rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    display: inline-block;
    font-size: 1rem;
    padding: 0.7rem;
    width: auto;
}

.cta-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #fffcf9;
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.cta-button:hover {
    background-color: #043040;
}

footer {
    background-color: #26547c;
    color: #fffcf9;
    box-shadow: 0 -4px 3px 0 #043040;
}