@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Lora');


:root {
    /* (.75rem + 1vw); => just about right scaling */
    /* 1vw + 1vh + .5vmin => bigger at larger, smaller at small */
    font-size: calc(1rem + 1vw);
}

/**
 * Butterick's Practical Typography
 * http://practicaltypography.com/typography-in-ten-minutes.html
 *
 * serif font for body text
 * POINT SIZE: 15-25 pixels for body text
 * line spacing: line-height: 120-145% of the point size
 * 45-90 characters per line - page margin: max-width:
 * 5-12% extra LETTERSPACING with all caps and small caps
 *
 * Butterick's practical Typography is for reference and 
 * and not necesarily being used in the css
 *
 * The CSS here is using Fluid responsive Typography
 * https://olivermak.es/2017/02/fluid-typography/
 */

/**
 * Professional Web Typography
 * https://prowebtype.com/
 */
body {
    font-family: 'Lora', serif;
    font-weight: 400;    
    text-align: left;
    font-kerning: normal;
}

/** 
 * Due to accessibility guidelines
 * https://www.w3.org/TR/WCAG20-TECHS/C21.html 
 */
html {
    line-height: 1.6rem; /* 1 */
}

 /**
  * Letter spacing for headings and all caps only.
  */
 h1, h2, h3,
 h4, h5, h6 {
     letter-spacing: 0.02em;
     margin-top: 0;
     margin-bottom: .3rem;
 }

/**
 * Only use this if you are not separating paragraphs
 * with a blank line.

p + p {
    text-indent: 1em;
}
 */

/**
 * Broken images
 */
img {
    font-family: Arial, Helvetica, sans-serif; /* Change fonts */
    font-weight: 300;
    line-height: 2;
    text-align: center;
}

img:before {
    content: "The image below is missing";
    margin-bottom: 10px;
}

img:after {
    content: "(url: " attr(src) ")";
    font-size: 12px;
}