/***************************
****************************
Reset Styles
****************************
***************************/


/***************************
****************************
Base Styles
****************************
***************************/
/* Change all elements to use border-box */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/*******/

body {
    margin-left: auto;
    margin-right: auto;
    background-color: #fffff8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111;
}

html {
    font-size: 24px;
}

/***************************
****************************
Layout Styles
****************************
***************************/

/***************************
****************************
Typography styles
****************************
***************************/
h1 {
    text-align: center;
}

h1:first-of-type + p {
    text-align: center;
}

/***************************
****************************
Module Styles
****************************
***************************/


/***************************
****************************
Theme Styles
****************************
***************************/
