<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coffee Theme</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="parallax header-img">

        <nav class="">
            <ul class="g-navigation">
                <li><a href="#">Purus</a></li>
                <li class="g-end"><a href="#">About</a></li>
                <li class="g-end"><a href="#">Contact us</a></li>
            </ul>
        </nav>

        <header>
            <h1>Purus template</h1>
        </header>
    </div>
    <main>
        <section class="parallax one">
            <div class="grid">
                <article>
                    <img src="assets/img/coffee-cup-light.jpeg" alt="Sample photo">
                    <div class="text">
                        <h3>Responsive cards</h3>
                        <p>Testing out responsive grid cards</p>
                        <button>CTA button</button>
                    </div>
                </article>
                <article>
                    <img src="assets/img/coffee-book.jpeg" alt="Sample photo">
                    <div class="text">
                        <h3>Responsive cards</h3>
                        <p>Testing out responsive grid cards</p>
                        <button>CTA button</button>
                    </div>
                </article>
                <article>
                    <img src="assets/img/coffee-cup.jpeg" alt="Sample photo">
                    <div class="text">
                        <h3>Responsive cards</h3>
                        <p>Testing out responsive grid cards</p>
                        <button>CTA button</button>
                    </div>
                </article>
                <article>
                    <img src="assets/img/coffee-cake.jpeg" alt="Sample photo">
                    <div class="text">
                        <h3>Responsive cards</h3>
                        <p>Testing out responsive grid cards</p>
                        <button>CTA button</button>
                    </div>
                </article>
            </div>
        </section>
        <section class="parallax two">
        </section>
    </main>
</body>

</html>