/***************************
****************************
Reset Styles
****************************
***************************/
/* Change all elements to use border-box */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/*******/

/***************************
****************************
Base Styles
****************************
***************************/
body {
    margin: 0;
    background-color: #fffff8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111;
}

/***************************
****************************
Layout Styles
****************************
**************************
.layout {
    display: grid;
    grid-template-rows: 1fr; 
}

main {
    display: grid;
    grid-template-columns: 1fr;
} */

/***************************
****************************
Text Alignment and Colors
****************************
**************************
header h1,
header p {
    color: white;
    text-align: center;
} */

/***************************
****************************
Typography styles
****************************
Check these out for a proper implementation

https://blog.typekit.com/2016/08/17/flexible-typography-with-css-locks/

https://24ways.org/2016/responsive-display-text/
***************************/
html {
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}


/***************************
****************************
Module Styles
****************************
***************************/


/***************************
****************************
Theme Styles
****************************
**************************
header {
    background: #1A2980;  // fallback for old browsers 
    background: linear-gradient(to right, #1A2980, #26D0CE); 
    //background-image: url(../assets/vids/home_work/Home-work.jpg);
    //background-size: cover;
    //height: 50vh;
} */
