<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Gallery</title>
</head>

<body>
    <main>
        <section>
            <figure>
                <img src="assets/guy.jpeg" srcset="assets/guy-l.jpeg 600w" alt="">
            </figure>
            <figure>
                <img src="assets/woman.jpeg" srcset="assets/woman-l.jpeg 600w" alt="">
            </figure>
            <figure>
                <img src="assets/guy-mountain.jpeg" srcset="assets/guy-mountain-l.jpeg 600w" alt="">
            </figure>
            <figure>
                <img src="assets/hall.jpeg" srcset="assets/hall-l.jpeg 600w" alt="">
            </figure>
            <figure>
                <img src="assets/cam.jpeg" srcset="assets/cam-l.jpeg 600w" alt="">
            </figure>
            <figure class="align-s">
                <img src="assets/jump.jpeg" srcset="assets/jump-l.jpeg 600w" alt="">
            </figure>
            <figure class="align-m" >
                <img src="assets/red-smoke.jpeg" srcset="assets/red-smoke-l.jpeg 600w" alt="">
            </figure>
            <figure class="align-e">
                <img src="assets/sunrise.jpeg" srcset="assets/sunrise-l.jpeg 600w" alt="">
            </figure>
            <figure>
                <img src="assets/girl-mountain.jpeg" srcset="assets/girl-mountain-l.jpeg 600w" alt="">
            </figure>
            <figure>
                <img src="assets/house.jpeg" srcset="assets/house-l.jpeg 600w" alt="">
            </figure>
            <figure>
                <img src="assets/coffee-beans.jpeg" srcset="assets/coffee-beans-l.jpeg 600w" alt="">
            </figure>
            <figure>
                <img src="assets/woman-on-sofa.jpeg" srcset="assets/woman-on-sofa-l.jpeg 600w" alt="">
            </figure>
        </section>
    </main>
</body>

</html>