<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Caprenia</title>
</head>

<body>
    <div class="hero-image">
        <div class="hero-color">
            <header class="container center">
                <div class="max-width">
                    <h1 class="left-align">Ambrosi Zviad</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id egestas eros. Aenean quis mauris vulputate,
                        tempus tortor vel, bibendum massa. Nunc et molestie leo.</p>
                    <ul class="left-align">
                        <li><a href="#">Get in touch</a></li>
                    </ul>
                </div>
                <div class="icon-grid">
                    <a href="https://www.twitter.com"><i data-feather="twitter"></i></a>
                    <a href="https://www.instagram.com"><i data-feather="instagram"></i></a>
                    <a href="https://www.facebook.com"><i data-feather="facebook"></i></a>
                </div>
            </header>
        </div>
    </div>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>

</html>