<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Write it right</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
</head>

<body>
    <nav class="nav">
        <div class="container">
            <ul class="nav-container">
                <li class="nav-logo">
                    <a href="../index.html" title="brandName" class="active">Write it right</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <div class="mobile-nav">
                <div class="modal">
                    <div class="modal--header modal--header--style modal-nav-l">
                        <li class="nav-logo">
                            <a href="../index.html" title="brandName" class="active">Write it right</a>
                        </li>
                        <a class="close">
                            <div class="bar-top"></div>
                            <div class="bar-bottom"></div>
                        </a>
                    </div>
                    <div class="modal--content modal--content--style flex-center--hero">
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </div>
                </div>
                <div class="mobile-nav__header">
                    <li class="nav-logo">
                        <a href="../index.html" title="brandName" class="active">Write it right</a>
                    </li>
                    <a class="btn--modal mobile-ham">
                        <div class="bar-top"></div>
                        <div class="bar-middle"></div>
                        <div class="bar-bottom"></div>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <header class="hero hero--bg flex-center--hero clip-right">
        <div class="container">
            <h1 class="hero-title">Write it right</h1>
            <p class="hero-descri">Copywriting for busy leaders</p>
        </div>
    </header>


    <main>
        <section class="about">
            <div class="container">
                <div class="about-grid">
                    <div class="about-item">
                        <p>Are you doing everything yourself?</p>
                        <p>Can’t get enough free time?</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="x-space product-style clip-left">
            <div class="container">
                <ul class="grid">
                    <li class="card one">
                        <object data="assets/responsive.svg" type="image/svg+xml">
                        </object>
                        <div class="card-content">
                            <p class="card-content__descr">We write compelling stories for your website to make readers want to read more.</p>
                        </div>
                    </li>
                    <li class="card two">
                        <object class="object-size" data="assets/story.svg" type="image/svg+xml">
                        </object>
                        <div class="card-content">
                            <p class="card-content__descr">We turn technical lingo into direct, easy-to-understand text so that everyone can grasp the message.</p>
                        </div>
                    </li>
                    <li class="card three">
                        <object data="assets/network.svg" type="image/svg+xml">
                        </object>
                        <div class="card-content">
                            <p class="card-content__descr">
                                You can count on true, genuine, engaging and attention-grabbing stories.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>


        <section class="x-space container">
            <div class="features">
                <div class="features-text">
                    <p class="initial-let">With clear, concise words busy readers can quickly grasp
                        <span>your</span> message.</p>
                    <p class="initial-let">And what’s more our writing aims to establish a
                        <span>bond</span> with
                        <span>your</span> clients.</p>
                </div>
            </div>
        </section>

        <section class="story">
            <div class="container">
                <div class="story-container">
                    <div class="story-text">
                        <p>Imagine
                            <span>you</span> have that time to
                            <span>lead</span> your business to
                            <span>success</span>
                        </p>
                        <p>While we tell
                            <span>your</span> story.</p>
                    </div>
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <path style="fill:#FFF5CD;" d="M502,136v40c0,11.05-8.95,20-20,20h-20v-80h20C493.05,116,502,124.95,502,136z" />
                        <path style="fill:#FD3C65;" d="M462,116v80h-46H282.98h-0.01c-10.72-15.42-27.34-26.57-46.97-30h30c13.8,0,26.3-5.6,35.35-14.65
        C310.4,142.3,316,129.8,316,116v15c0,13.81,11.19,25,25,25s25-11.19,25-25c0,13.81,11.19,25,25,25s25-11.19,25-25v-15H462z"
                        />
                        <path style="fill:#4DBBEB;" d="M416,336v140H216V336h20h160H416z" />
                        <path style="fill:#FEC478;" d="M408.68,63.32C404.16,58.8,397.9,56,391,56c-13.81,0-25,11.19-25,25V61c0-13.81-11.19-25-25-25
        s-25,11.19-25,25c0-6.9-2.8-13.16-7.32-17.68C304.16,38.8,297.9,36,291,36c-13.81,0-25,11.19-25,25c0-13.81-11.19-25-25-25
        s-25,11.19-25,25v55l0.13,0.82c-15.1,2.51-28.8,10.74-38.13,23.18c-7.79,10.39-12,23.02-12,36v5.15c0,5.05,0.64,10.04,1.87,14.85
        c2.64,10.35,8.02,19.89,15.7,27.57l34.86,34.86c11.25,11.25,17.57,26.51,17.57,42.42V336h160v-37.64c0-13.94,3.08-27.71,9-40.31
        c6.47-13.75,11-28.33,11-43.52V196H282.98h-0.01c-10.72-15.42-27.34-26.57-46.97-30h30c13.8,0,26.3-5.6,35.35-14.65
        C310.4,142.3,316,129.8,316,116v15c0,13.81,11.19,25,25,25s25-11.19,25-25c0,13.81,11.19,25,25,25s25-11.19,25-25v-15V81
        C416,74.1,413.2,67.84,408.68,63.32z" />
                        <path style="fill:#FD3C65;" d="M216,116l0.13,0.82c-15.1,2.51-28.8,10.74-38.13,23.18c-7.79,10.39-12,23.02-12,36v5.15
        c0,5.05,0.64,10.04,1.87,14.85H156H90c22.09-22.09,22.09-57.91,0-80h66H216z" />
                        <path style="fill:#FEB756;" d="M90,116c22.09,22.09,22.09,57.91,0,80l-80-40L90,116z" />
                        <path d="M482,106h-20h-36V81c0-9.353-3.641-18.144-10.248-24.75C409.144,49.641,400.353,46,391,46
        c-6.042,0-11.732,1.54-16.697,4.247C369.754,36.194,356.548,26,341,26c-9.779,0-18.63,4.036-24.987,10.525
        c-0.089-0.091-0.172-0.185-0.261-0.275C309.144,29.641,300.353,26,291,26c-9.786,0-18.642,4.042-25,10.539
        C259.642,30.042,250.786,26,241,26c-19.299,0-35,15.701-35,35v45H90c-0.016,0-0.031,0.003-0.047,0.003
        c-0.341,0.002-0.682,0.023-1.021,0.059c-0.113,0.012-0.224,0.033-0.336,0.048c-0.247,0.035-0.493,0.076-0.738,0.13
        c-0.118,0.026-0.235,0.056-0.352,0.086c-0.243,0.062-0.483,0.134-0.721,0.215c-0.105,0.036-0.21,0.07-0.314,0.11
        c-0.262,0.099-0.519,0.211-0.773,0.332c-0.056,0.027-0.115,0.045-0.17,0.073l-0.163,0.082c-0.007,0.004-0.014,0.007-0.021,0.011
        L5.528,147.056C2.14,148.75,0,152.212,0,156s2.14,7.25,5.528,8.944l79.814,39.907c0.009,0.005,0.018,0.009,0.027,0.014l0.159,0.079
        c0.054,0.027,0.111,0.045,0.165,0.071c0.257,0.123,0.517,0.236,0.782,0.336c0.101,0.038,0.203,0.072,0.305,0.107
        c0.242,0.082,0.486,0.155,0.733,0.219c0.113,0.029,0.226,0.058,0.34,0.083c0.251,0.055,0.503,0.097,0.756,0.133
        c0.106,0.015,0.211,0.034,0.317,0.046C89.283,205.976,89.641,206,90,206h70.571c3.5,9.215,8.916,17.628,15.928,24.642l34.86,34.859
        C220.8,274.942,226,287.496,226,300.85V326h-10c-5.523,0-10,4.478-10,10v140c0,5.522,4.477,10,10,10h200c5.522,0,10-4.478,10-10V336
        c0-5.522-4.478-10-10-10h-10v-27.64c0-12.379,2.784-24.848,8.049-36.053C422.091,245.216,426,229.587,426,214.53V206h36h20
        c16.542,0,30-13.458,30-30v-40C512,119.458,498.542,106,482,106z M452,126v60H287.989c-3.212-4.047-6.757-7.749-10.593-11.075
        c11.681-2.235,22.426-7.904,31.023-16.504c1.836-1.836,3.524-3.779,5.088-5.799C319.923,160.76,329.858,166,341,166
        c9.786,0,18.642-4.042,25-10.539c6.358,6.496,15.214,10.539,25,10.539c19.299,0,35-15.701,35-35v-5H452z M391,66
        c4.01,0,7.777,1.56,10.609,4.393C404.44,73.223,406,76.99,406,81v50c0,8.271-6.729,15-15,15s-15-6.729-15-15V81
        C376,72.729,382.729,66,391,66z M341,46c8.271,0,15,6.729,15,15v20v50c0,8.271-6.729,15-15,15s-15-6.729-15-15v-15V61
        C326,52.729,332.729,46,341,46z M291,46c4.01,0,7.777,1.56,10.609,4.393C304.44,53.223,306,56.99,306,61v45h-30V61
        C276,52.729,282.729,46,291,46z M226,61c0-8.271,6.729-15,15-15s15,6.729,15,15v45h-30V61z M169.999,134.001
        C160.972,146.041,156,160.957,156,176v5.15c0,1.618,0.062,3.236,0.175,4.85h-46.763c9.478-18.807,9.478-41.193,0-60h67.599
        C174.498,128.47,172.148,131.136,169.999,134.001z M87.525,128.418c12.028,16.342,12.028,38.822,0,55.164L32.361,156L87.525,128.418
        z M406,466H226V346h10h160h10V466z M406,214.53c0,12.049-3.287,24.892-10.051,39.268C389.44,267.651,386,283.062,386,298.36V326H246
        v-25.15c0-18.696-7.28-36.272-20.499-49.491l-34.86-34.858c-6.343-6.344-10.866-14.287-13.083-22.978
        c-1.034-4.043-1.558-8.206-1.558-12.372V176c0-10.745,3.552-21.399,10-30c7.754-10.339,19.037-17.198,31.774-19.315
        C220.498,126.23,223.266,126,226,126h40h38.74c-1.759,6.853-5.323,13.141-10.461,18.279C286.721,151.837,276.678,156,266,156h-30
        c-5.188,0-9.515,3.968-9.962,9.136c-0.448,5.169,3.131,9.822,8.241,10.715c16.519,2.887,30.895,12.069,40.48,25.857
        c0.022,0.031,0.048,0.058,0.07,0.089c7.175,10.374,11.004,22.528,11.071,35.155l0.1,19.1c0.029,5.506,4.5,9.948,9.999,9.948
        c0.018,0,0.035,0,0.053,0c5.523-0.029,9.977-4.529,9.948-10.052l-0.1-19.101c-0.057-10.692-2.165-21.124-6.162-30.848H406V214.53z
         M492,176c0,5.514-4.486,10-10,10h-10v-60h10c5.514,0,10,4.486,10,10V176z" />
                        <path d="M376,366h-80c-5.522,0-10,4.478-10,10s4.478,10,10,10h80c5.522,0,10-4.478,10-10S381.522,366,376,366z" />
                        <path d="M256,366c-5.52,0-10,4.48-10,10s4.48,10,10,10c5.52,0,10-4.48,10-10S261.52,366,256,366z" />
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                    </svg>

                </div>
                <div class="cta-container">
                    <div class="base-modal">

                        <div class="base-modal--content base-modal--content--style">
                            <section class="container form">
                                <form name='Write it right' action='thank-you' method='POST'>
                                    <input type='hidden' name='form-name' value='Write it right' />
                                    <label for="name">Name</label>
                                    <input id="name" type="text" name="name" required placeholder="Jane Doe">

                                    <label for="email">Email</label>
                                    <input id="email" type="email" name="email" required placeholder="jane.doe@mywebsite.com">

                                    <label for="message">Message</label>
                                    <textarea id="message" name="message" rows="5" required placeholder="Tell us about your project, needs, and timeline."></textarea>

                                    <button class="btn form-btn btn--color-red" type="submit">Submit</button>
                                    <p style="display:none;">
                                        <label>You shouldn't fill this out:
                                            <input name="bot-field">
                                        </label>
                                    </p>
                                </form>
                        </div>
                        <div class="base-modal--footer base-modal--footer--style">
                            <button class="btn base-close">Close form</button>
                        </div>
                    </div>
                    <button class="btn base-btn--modal btn--color-red" id="contact">Let's get started</button>
                </div>
            </div>
            </section>

    </main>


    <script src="js/main.js"></script>
</body>

</html>